<div>
  <div class="header">
    <h2 class="title">Document Name</h2>
    <input class="title-document" type="text" ng-model="vm.document.name">
  </div>

  <div class="editor">

    <div class="editor-header">
      <h3 class="title">Markdown</h3>
    </div>

    <div class="editor-header">
      <h3 class="title">Preview</h3>
    </div>

    <textarea class="split split-editor"  ng-model="vm.document.text"></textarea>

    <div class="split split-preview" markdown="vm.document.text"></div>

  </div>
</div>
