// varriables
bordercolor = #E8E8E8
backgroundnavbar = #373D49
textnavbar = #FFFFFF
textnavbarhover = #448aff
inputcolor = #373D49
titlecolor = #373D49
heighteditor = calc(100vh - 161px)
containercolor = white
backgroundbody = whitesmoke

body
    background-color backgroundbody

input[type=text]:focus:not([readonly])
    border-bottom: 1px solid inputcolor;
    box-shadow: 0 1px 0 0 inputcolor;


img
    width 100px

.input-field label
    left 0
    color #373D49
    font-weight bold

.browsehappy
    margin 50px 0
    background #ccc
    color #000
    padding 50px 0

*, *:before, *:after
    box-sizing border-box

.clearfix
    &:before,
    &:after
        content " "
        display table
    &:after
        clear both

.navigation
    background-color backgroundnavbar
    ul
        margin 0
        padding 0
    li
        display block
        float left
    &:last-child
        border-right-width 0
    a
        text-transform uppercase
        text-decoration none
        letter-spacing 2px
        font-size 12px
        color textnavbar
    &.brand
        font-weight bold
        letter-spacing 5px
    &:hover
        color: textnavbarhover

.container-box
    background-color containercolor
    border-radius 2px
    padding 20px !important
    margin-top 25px
    margin-bottom 15px

.shadow
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14)

textarea
    height heighteditor
    max-width 600px
    word-wrap break-word
    width 100%
    background #fff
    border-radius 2px
    border none !important
    padding 20px
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    -webkit-transition height 0.5s ease
    -moz-transition height 0.5s ease
    -ms-transition height 0.5s ease
    -o-transition height 0.5s ease
    transition height 0.5s ease

.header
  .title-document
    color inputcolor
    width 100%

.page-header
    margin-top 20px
    margin-bottom 30px
    border-bottom: 2px solid backgroundnavbar

.material-icons
    line-height 0.7

.title
  text-transform uppercase
  display inline-block
  font-size 16px
  font-weight 500
  color titlecolor

.split:hover
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

 .editor
 padding 20px
    .split-editor
       height heighteditor
    &.split-preview
       float right
       height heighteditor
       width 50%
       padding 10px

.split.split-preview.ng-isolate-scope
    p, h1, h2, h3, h4, h5, h6
        word-wrap break-word
        padding 20px

.container-preview
    max-width 600px
    word-wrap break-word
    width 100%
    background #fff
    border-radius 2px
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    -webkit-transition height 0.5s ease
    -moz-transition height 0.5s ease
    -ms-transition height 0.5s ease
    -o-transition height 0.5s ease
    transition height 0.5s ease

@media only screen and (min-width: 993px)
    .container
        width 90%

@media only screen and (max-width: 574px)
    nav > ul > li:nth-child(2)
        display none

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
