<!DOCTYPE html>
{% if (o.webpackConfig.metadata.ENV === 'development') { %}
<html lang="fr" ng-strict-di>
{% } else { %}
<html lang="fr" manifest="manifest.appcache" ng-strict-di>
{% } %}
  <head>
    <title>Online Markdown Editor</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Markdown Editor">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <navbar></navbar>
    <editor></editor>

    {% if (o.webpackConfig.metadata.ENV === 'development') { %}
    <script src="http://localhost:8080/webpack-dev-server.js"></script>
    {% } %}

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%= o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}

  </body>
</html>
