body, html
  font-family Segoe UI, Tahoma, Arial, Verdana;

.split-preview
  h1, h2, h3, h4, h5, h6
    color #007acc;
    font-weight 400

  h1
    border-bottom 1px solid #e6e6e6;
    font-size 26px;
    font-weight 600;
    margin-bottom 20px

  h2
    font-size 18px;
    border-bottom 1px solid #e6e6e6;
    font-weight 600;
    color #303030;
    margin-bottom 10px;
    margin-top 20px

  h3
    font-size 16px;
    font-weight 600;
    margin-bottom 10px

  h4
    font-size 14px;
    margin-bottom 10px

  h5
    font-size 12px;
    margin-bottom 10px

  h6
    font-size 12px;
    font-weight 300;
    margin-bottom 10px

  img
    max-width 35%

  li
    list-style-type disc;
    list-style-position inside
    a
      border none;
      padding 0;
      display inline
      :hover
        background-color inherit
        text-decoration underline

  code, kbd, pre, samp
    font-family Monaco, Menlo, Consolas, "Droid Sans Mono", "Inconsolata", "Courier New", monospace

  code
    color #333;
    background-color #f8f8f8;
    border 1px solid #ccc;
    border-radius 3px;
    padding 2px 4px;
    font-size 90%;
    line-height 2;
    white-space nowrap

  pre
    color #333;
    background-color #f8f8f8;
    border 1px solid #ccc;
    display block;
    padding 6px;
    font-size 13px;
    word-break break-all;
    word-wrap break-word

  pre code
    padding 0;
    font-size inherit;
    color inherit;
    white-space pre-wrap;
    background-color transparent;
    line-height 1.428571429;
    border none

  table
    border-collapse collapse
    width auto

  table, th, td
    border 1px solid #ccc;
    padding 4px

  th
    font-weight bold;
    background-color #f8f8f8
