<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".txt" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".eot" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>
